.container
	.row
		.col-12.bg-light.p-3
			
			//- Инициализация приложения
			#app02-02
				
				h2
					a(v-bind:href="url") Google
				p 
					|Динамический аттрибут
					br
					|Чтобы изменять атрибуты, нужно пользоваться дерективой v-bind