.container
	.row
		.col-12.bg-light.p-3
			
			#app02-19

			p template - cтроковый шаблон с разметкой для экземпляра Vue. Этот шаблон заменяет элемент в точке монтирования. Вся существующая разметка в точке монтирования будет проигнорирована, если в шаблоне нет слота для распределения контента.
				

