.container
	.row
		.col-12.bg-light.p-3
			
			#app02-20

				h2 {{ title }}

				button.btn.btn-primary(@click="title = 'Another Text'") Change
				button.btn.btn-primary(@click="doDestroy") Destoy


