.bg-dark.p-3.m-3
	h1 Интерполяция
	include 01.pug

.bg-dark.p-3.m-3
	h1 Динамические атрибуты
	include 02.pug

.bg-dark.p-3.m-3
	h1 Вывод HTML кода
	include 03.pug

.bg-dark.p-3.m-3
	h1 Добавление событий
	include 04.pug

.bg-dark.p-3.m-3
	h1 Передача параметров в метод
	include 05.pug

.bg-dark.p-3.m-3
	h1 Модификаторы событий
	include 06.pug

.bg-dark.p-3.m-3
	h1 Модификаторы событий клавиатуры
	include 07.pug

.bg-dark.p-3.m-3
	h1 Ярлыки для директив
	include 08.pug

.bg-dark.p-3.m-3
	h1 Модель для работы с формами
	include 09.pug

.bg-dark.p-3.m-3
	h1 Работа с CSS классами
	include 10.pug

.bg-dark.p-3.m-3
	h1 Динамические стили
	include 11.pug

.bg-dark.p-3.m-3
	h1 Управление отображением элементов
	include 12.pug

.bg-dark.p-3.m-3
	h1 Директива v-show vs v-if
	include 13.pug

.bg-dark.p-3.m-3
	h1 Работа со списками
	include 14.pug

.bg-dark.p-3.m-3
	h1 Оптимизация приложения с computed
	include 15.pug

.bg-dark.p-3.m-3
	h1 Отслеживание изменений с watch
	include 16.pug

.bg-dark.p-3.m-3
	h1 Связывание разных приложений
	include 17.pug

.bg-dark.p-3.m-3
	h1 Доступ к DOM элементам
	include 18.pug

.bg-dark.p-3.m-3
	h1 Свойство template и $mount()
	include 19.pug

.bg-dark.p-3.m-3
	h1 Жизненный цикл
	include 20.pug

script(src='js/scripts.min.js')