<!DOCTYPE html>

html
	head
		meta(charset='UTF-8')
		title Learn Vue.js
		link(rel="stylesheet", href="css/main.min.css")

	body

		//- include block-02-theBasics/index.pug	
		include block-03-/index.pug	