<!DOCTYPE html>

html
	head
		meta(charset='UTF-8')
		title Learn Vue.js
		link(rel="stylesheet", href="css/main.min.css")

	body

		//- .bg-dark.p-3.m-3
		//- 	h1 Интерполяция
		//- 	include part-1/1-2.pug
		//- 	hr.my-3
		//- 	include part-1/2-1.pug	

		//- .bg-dark.p-3.m-3
		//- 	h1 Динамические атрибуты
		//- 	include part-2/2-2.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Вывод HTML кода
		//- 	include part-2/2-3.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Добавление событий
		//- 	include part-2/2-4.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Передача параметров в метод
		//- 	include part-2/2-5.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Модификаторы событий
		//- 	include part-2/2-6.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Модификаторы событий клавиатуры
		//- 	include part-2/2-7.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Ярлыки для директив
		//- 	include part-2/2-8.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Модель для работы с формами
		//- 	include part-2/2-9.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Работа с CSS классами
		//- 	include part-2/2-10.pug	

		.bg-dark.p-3.m-3
			h1 Динамические стили
			include part-2/2-11.pug	
		
		script(src='js/scripts.min.js')