<!DOCTYPE html>

html
	head
		meta(charset='UTF-8')
		title Learn Vue.js
		link(rel="stylesheet", href="css/main.min.css")

	body

		//- .bg-dark.p-3.m-3
		//- 	h1 Интерполяция
		//- 	include block-02-theBasics/01.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Динамические атрибуты
		//- 	include block-02-theBasics/02.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Вывод HTML кода
		//- 	include block-02-theBasics/03.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Добавление событий
		//- 	include block-02-theBasics/04.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Передача параметров в метод
		//- 	include block-02-theBasics/05.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Модификаторы событий
		//- 	include block-02-theBasics/06.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Модификаторы событий клавиатуры
		//- 	include block-02-theBasics/07.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Ярлыки для директив
		//- 	include block-02-theBasics/08.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Модель для работы с формами
		//- 	include block-02-theBasics/09.pug

		//- .bg-dark.p-3.m-3
		//- 	h1 Работа с CSS классами
		//- 	include block-02-theBasics/10.pug	

		//- .bg-dark.p-3.m-3
		//- 	h1 Динамические стили
		//- 	include block-02-theBasics/11.pug	

		.bg-dark.p-3.m-3
			h1 Управление отображением элементов
			include block-02-theBasics/12.pug	
		
		script(src='js/scripts.min.js')