.container
	.row
		.col-12.bg-light.p-3
			
			//- Инициализация приложения
			#app2-1
				
				//- Математические выражения
				h2 Sum 25+25 = {{ 25+25 }} 
				p Math
				
				//- Число
				h2 {{ number }} 
				p Number
				
				//- Вызов функции
				h2 {{ sayHello() }} 
				p Оbject method
				
				//- Тернарное выражение
				h2 {{ isOk ? 'I am OK' : 'I am not OK!!' }} 
				p Ternary operator
				
				//- Функция
				h2 {{ string.split('').reverse().join('') }} 
				p Function