@import "vars"
@import "fonts"
@import "libs"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

p
	font-size: .75em
	color: #888

.bg-dark
	color: #eee
.bg-light
	color: #000

@import "media" // Always at the end
