.container
	.row
		.col-12
			
			//- Инициализация приложения
			#app1-2 
				
				//- Простой пример интерполяции
				
				h2 Hello {{ name }} 
				p String

				p Введите свое имя
				//- 'v-on' - прослушка события. 'input' - события, которое будем слушать
				//- Вся эта конструкциия 'v-on:input=""' называется деректива
				//- 'changeName' - название метода
				input(type="text" v-on:input="changeName")